/* #region Containers */
.container {
    padding: var(--space-container-xl);
}

.content {
    padding: 0;
}
/* #endregion Containers */

/* #region spacing modifiers */
.nopadding {
    padding: 0;
}
/* #endregion spacing modifiers */

/* #region lists */
.list--nostyle {
    list-style: none;
    padding: 0;
}

.list--flat {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* #endregion lists */

/* #region Desktop Overrides */
@media screen and (min-width: 820px) {
    .page {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: var(--space-container-s);
    }
    .content {
        padding: var(--space-container-xxxl) calc(var(--space-container-xxxl) * 1.25);
    }
}

@media screen and (min-width: 1240px) {
    .content {
        padding: var(--space-container-xxxl) calc(var(--space-container-xxxl) * 2.25);
    }
}

@media screen and (min-width: 1440px) {
    .content {
        padding: var(--space-container-xxxl) calc(var(--space-container-xxxl) * 3.25);
    }
}
/* #endregion Desktop overrides */
