/* Redeclare variables */
/* >= 500 is WCAG AA passing contrast with background */
/* < 500 is WCAG AA passing only for large text and graphical  */
/* FIXME: Remove body.sunset when themes css is added/removed by toggle */
body.sunset {
    /* #region Colors */
    --base: var(--gunmetal);
    --white-600: var(--white);
    --white-500: var(--off-white);
    --gray-700: var(--ghost);
    --gray-600: var(--tower);
    --gray-500: var(--regent);
    --gray-400: var(--slate);
    --green-700: var(--emerald);
    --green-600: var(--shamrock);
    --green-500: var(--genoa);
    --red-700: var(--flamingo);
    --red-600: var(--rosebud);
    --red-500: var(--orchid);
    --blue-500: var(--dodger);
    --purple-500: var(--purple-urple);
    /* Gradient */
    --gradient-action: linear-gradient(115.31deg, var(--purple-500) 30.88%, var(--blue-500) 74.07%);
    --gradient-action-reversed: linear-gradient(
        115.31deg,
        var(--blue-500) 30.88%,
        var(--purple-500) 74.07%
    );
    --gradient-action-hover: linear-gradient(
        115.31deg,
        var(--purple-500) 30.88%,
        var(--purple-500) 74.07%
    );
    --gradient-action-active: linear-gradient(
        115.31deg,
        var(--blue-500) 30.88%,
        var(--blue-500) 74.07%
    );
    /* #endregion Colors */
    /* Shadow */
    --shadow-alert: 0px 1px 2px hsla(0, 0%, 0%, 0.65), 0px 4px 8px hsla(0, 0%, 0%, 0.75);
    /* Usage */
    --color-background: var(--base);
    --color-text: var(--white-500);
    --color-text-alt: var(--base);
    --color-link: var(--blue-500);
    --color-focus: var(--purple-500);
    --color-blur: var(--gunmetal-35);
    --color-cta: var(--midnight-haze);
    --color-cta-active: var(--midnight-luck);
    --color-title-highlight-green: var(--green-600);
    --color-title-highlight-red: var(--red-500);
    --color-list-fancy: var(--gray-600);
    --color-bg-red: var(--red-500);
    --color-bg-gray: var(--gray-500);
}

/* #region Document */
body.sunset {
    background-color: var(--color-background);
    color: var(--color-text);
}

body.sunset *:focus-visible {
    outline: var(--border-button) solid var(--color-focus);
}

body.sunset a {
    color: var(--color-link);
}

body.sunset a:hover {
    color: var(--color-focus);
}
/* #endregion Document */

/* #region Buttons */
body.sunset button.primary {
    --color-bg-default: var(--green-600);
    --color-bg-hover: var(--green-700);
    --color-bg-active: var(--green-500);
    --color-label: var(--white-600);
}

body.sunset button.alt {
    --color-bg-default: var(--red-600);
    --color-bg-hover: var(--red-500);
    --color-bg-active: var(--red-700);
    --color-label: var(--white-600);
}

body.sunset button.cta {
    --color-bg-default: var(--color-cta);
    --color-border-default: var(--gradient-action);
    --color-border-hover: var(--gradient-action-hover);
    --color-border-active: var(--gradient-action-active);
    --color-bg-hover: var(--color-cta-active);
    --color-label: var(--white-600);
}
/* #endregion Buttons */
