/* #region Default (mobile) */
h1 .highlight {
    color: var(--color-title-highlight-green);
}

.subheader {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--space-content-l);
}

.list--subtitle {
    color: var(--color-list-fancy);
    list-style-type: none;
    padding: var(--space-component-m);
}

.list--subtitle li:not(:last-child) {
    margin-bottom: var(--space-content-xs);
}

.description {
    overflow-wrap: word;
    margin-bottom: var(--space-content-l);
}

.description .highlight {
    color: var(--color-title-highlight-red);
}

.page--cta {
    display: flex;
    justify-content: flex-end;
}

.who {
    color: var(--color-text-alt);
    background-color: var(--color-bg-gray);
}

.what {
    color: var(--color-text-alt);
    background-color: var(--color-bg-red);
}

.who,
.what {
    padding: var(--space-content-m);
}

.who p,
.what p {
    margin: 0;
}

.list--tech--icons {
    margin-bottom: var(--space-content-xl);
}

.list--tech--icons > * {
    margin: 0;
    padding: var(--space-component-s);
}

h2 .highlight {
    color: var(--carnation);
}

.testimonial--list--item {
    margin: var(--space-component-l) 0;
}

/* #endregion Default (mobile) */

/* #region Desktop Overrides */
@media screen and (min-width: 820px) {
    section.container {
        grid-column: 1/-1;
    }

    .intro {
        grid-row: 1/5;
    }

    .whowhat {
        grid-row: 5/6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .whowhat > * {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .team {
        grid-row: 6/-1;
    }

    .description {
        margin: var(--space-content-xl) 0;
    }

    .page--cta {
        margin-top: var(--space-content-xl);
        justify-content: center;
    }
}
/* #endregion Desktop overrides */

/* #region construction */
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 18px;
    margin: 84px 84px 0 84px;
}

h1 {
    grid-column: 2/7;
    grid-row: 1;
}

.highlighted {
    color: var(--purple-urple);
}

.content {
    grid-column: 2/7;
    grid-row: 2;
    padding: 0;
}

.subtitle {
    color: var(--tower);
    font-size: 1.625rem;
    margin-bottom: var(--space-content-xs);
}

p {
    margin: 0 0 26px 0;
}

.message {
    max-width: 50%;
    word-wrap: break-word;
}

.list--footer--links {
    margin-top: 52px;
    line-height: 2.2rem;
}
/* #endregion construction */
